#user-type {
    height: 80%;
}

#icon-container {
    width: 60%;
}

.icon-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    color: #fd7e14;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    width: 18rem;
    height: 18rem;
}

.icon-holder:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

i {
    font-size: 5rem;
}

form, #tag-selection {
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.5rem;
    width: 40%;
}

#register-vendor {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
}

.wrap {
    flex-wrap: wrap;
}

#title {
    font-size: 1.5rem;
}

#tag-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#tag-container>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.vendor-card-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem;
    width: 50%;
}

legend {
    text-align: center;
    padding-bottom: 2rem;
}

.row {
    width: 100%;
    margin: 0;
}

.row-sm {
    width: 40%;
    margin: 0;
}

.err {
    color: red;
}

.done {
    color: #28a745;
}

.next, .back {
    font-size: 4rem;
    padding: 0.2rem;
    margin-right: 4rem;
    margin-left: 4rem;
}

.next:hover, .back:hover {
    font-size: 4rem;
    padding: 0.2rem;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
