#user-type {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    margin: 0;
}

.icon-holder {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    height: fit-content;
    font-size: 24px;
    font-weight: bold;
}

i {
    font-size: 5rem;
}

.icon-holder:hover {
    color: #fd7e14;
    cursor: pointer;
}

#back-button {
    color: white;
    background-color: red;
    margin-right: 5px;
}

#register-vendor {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.form-reg {
    padding-top: 70px;
}

#title {
    font-size: 1.5rem;
}

#tag-container {
    margin-top: 40px;
    margin-bottom: 30vh;
}

#tag-container>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vendor-card-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem;
}

/* select.custom-select {
    color: black;
} */