#user-type {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    margin: 0;
}

.icon-holder {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    height: fit-content;
    font-size: 24px;
    font-weight: bold;
}

i {
    font-size: 5rem;
}

.icon-holder:hover {
    color: orangered;
    cursor: pointer;
}

#back-button {
    color: white;
    background-color: red;
    margin-right: 5px;
}

#register-foodtruck {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}