<div id="user-type" class="component-container flexcon-around" *ngIf="steps[0]">
  <div id="icon-container" class="flexcon-around">
    <div class="icon-holder" (click)="setEmployeeFlag(true)">
      <i class="material-icons">lunch_dining</i>
      <div>Vendor</div>
    </div>
    <div class="icon-holder" (click)="setEmployeeFlag(false)">
      <i class="material-icons">person</i>
      <div>Customer</div>
    </div>
  </div>
</div>

<!-- User Registration Form -->
<div class="form-container" *ngIf="steps[1]">
  <i class="material-icons back" (click)="moveBack()">arrow_left</i>
  <form>
    <fieldset>
      <legend>User Registration:</legend>
      <div class="form-row">
        <div class="form-group col-md-12">
          <input type="text" [(ngModel)]="user.firstName" name="firstName" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-12">
          <input type="text" [(ngModel)]="user.lastName" name="lastName" class="form-control" id="lastName" placeholder="Last Name">
        </div>
        <div class="form-group col-md-12">
          <input type="text" [(ngModel)]="user.username" name="username" class="form-control" id="username" placeholder="Username">
          <div class="warn" *ngIf="user.username == ''">
              Oops! It seems this username is already taken!
            </div>
        </div>
        <div class="form-group col-md-12">
          <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="email" placeholder="Email">
          <div class="warn" *ngIf="user.email == ''">
              This email is already linked to an account
          </div>
        </div>
        <div class="form-group col-md-12">
          <input type="password" [(ngModel)]="user.passwordHash"  name="passwordHash" class="form-control" id="password" placeholder="Password">
          <div class="warn" *ngIf="user.passwordHash == ''">
              Password must be at least 8 characters (Letters, Numbers, '@', or '!')
          </div>
        </div>
        <div class="form-group col-md-12">
          <input type="password" [(ngModel)]="password2"  name="password2" class="form-control" id="Password2" placeholder="Re-enter Password">
          <div class="err" *ngIf="password2 !== user.passwordHash">
            Passwords do not match!
          </div>
        </div>
        <!-- <div class="form-group col-md-12"> -->
            <!-- <label for="Password2">Re-enter Password</label> -->
            <!-- <input type="file" (change)="onFileUpload($event)"  name="image" class="form-control" id="Image" placeholder="Browse"> -->
            <!-- <input type="file" class="custom-file-input" (change)="onFileUpload($event)" name="file" id="CustomFile"> -->
            <!-- <label class="custom-file-label" for="CustomFile">{{filename}}</label> -->
          <!-- </div> -->
          <div class="row flexcon-around">
            <button [hidden]="true" [disabled]="password2 !== user.passwordHash" type="submit" class="btn btn-primary" (click)="onSubmit(user.passwordHash.length > 0 && password2 !== user.passwordHash)">Continue</button>
          </div>
        </div>
      </fieldset>
    </form>
    <i class="material-icons next" (click)="onSubmit(user.passwordHash.length > 0 && password2 !== user.passwordHash)">arrow_right</i>
</div>

<!-- Employee Registration Form -->
<div class="form-container" *ngIf="steps[2] && isEmployee">
  <form>
    <fieldset>
      <legend>Employee Registration:</legend>
      <div class="row flexcon">
        <div class="flexcon-col row-sm">
          <select class="custom-select">
              <option value="0" selected>Select Your Vendor</option>
              <option name="vendor-option" *ngFor="let vendor of vendors" value="{{vendor.id}}">{{vendor.displayName}}</option>
          </select>
          <div id="register-vendor" (click)="moveForward()">Register a new vendor</div>
        </div>
        <div class="flexcon-around row">
          <button class="btn-primary">Finish</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<!-- Vendor Registration Form -->
<div class="form-container wrap" *ngIf="steps[3] && isEmployee">
  <i class="material-icons back" (click)="moveBack()">arrow_left</i>
  <form>
    <fieldset>
      <legend>Vendor Registration:</legend>
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text" [(ngModel)]="vendorToAdd.userName" name="userName" class="form-control" id="userName"
            placeholder="Vendor Account Name">
        </div>
        <div class="form-group col-md-4">
          <input type="text" [(ngModel)]="vendorToAdd.displayName" name="displayName" class="form-control"
            id="displayName" placeholder="Vendor Display Name">
        </div>
        <div class="form-group col-md-4">
          <input type="text" [(ngModel)]="vendorToAdd.company" name="company" class="form-control" id="company"
            placeholder="Company Name">
        </div>
        <div class="form-group col-md-4">
          <input type="text" [(ngModel)]="vendorToAdd.city" name="city" class="form-control" id="city"
            placeholder="City">
        </div>
        <div class="form-group col-md-4">
          <input type="text" [(ngModel)]="vendorToAdd.state" name="state" class="form-control" id="state"
            placeholder="State">
        </div>
        <div class="form-group col-md-4">
          <input type="text" [(ngModel)]="vendorToAdd.zipCode" name="zipcode" class="form-control" id="zipcode"
            placeholder="Zipcode">
        </div>
        <div class="form-group col-md-12">
          <input type="text" [(ngModel)]="vendorToAdd.description" name="description" class="form-control"
            id="description" placeholder="Vendor Description">
        </div>
        <div class="form-group col-md-12">
          <textarea type="text" rows="4" [(ngModel)]="vendorToAdd.locationDetails" name="locationDetails"
            class="form-control" id="locationDetails" placeholder="Location Details"></textarea>
        </div>
        <div>
          <button [hidden]="true" type="submit" class="btn btn-primary" (click)="moveForward()">Continue</button>
        </div>
      </div>
    </fieldset>
  </form>
  <i class="material-icons next" (click)="moveForward()">arrow_right</i>

  <div class="vendor-card-preview">
    <app-vendor-card class="list-group-item bg-white border-bottom box-shadow col-10" [vendor]=vendorToAdd>
    </app-vendor-card>
  </div>
</div>

<div class="form-container wrap" *ngIf="steps[4] && isEmployee">
  <i class="material-icons back" (click)="moveBack()">arrow_left</i>
  <div id="tag-selection">
    <div id="title">Pick Up To 3 Tags To Help Customers Find Your Business:</div>
    <div id="tag-container">
      <ul>
        <app-vendor-tag-card *ngFor="let tag of this.tags" [tag] = tag (click)="toggleTag(tag)"></app-vendor-tag-card>
      </ul>
    </div>
    <div>
      <button [hidden]="true" type="submit" class="btn btn-primary" (click)="onSubmitVendor()">Finish</button>
    </div>
  </div>
  <i class="material-icons next done" (click)="onSubmitVendor()">done</i>

  <div class="vendor-card-preview">
    <app-vendor-card class="list-group-item bg-white border-bottom box-shadow col-10" [vendor]=vendorToAdd>
    </app-vendor-card>
  </div>
</div>