.navbar-brand {
    color: orangered;
    font-size: 28px;
    width: 275px;
    font-family: 'Oswald', 'sans serif';
}

#navbarNav {
    display: flex;
    justify-content: space-evenly;
}

li>a>i {
    font-size: 36px;
    font-family: 'Material Icons';
    color: rgba(255, 69, 0, 0.4);
}

li.active>a>i {
    font-size: 36px;
    font-family: 'Material Icons';
    color: rgba(255, 69, 0, 1);
}

.btn {
    color: red;
}