<nav class="navbar fixed-top navbar-expand-lg bg-white border-bottom box-shadow">
  <div id="title">Food Traffic <div id="title-user" *ngIf="username != null">{{this.username}}</div></div>
  <div *ngIf="!('/login' === hRouter.url)">
    <button class="btn">
      <a routerLink="/home"><i class="material-icons">map</i></a>
    </button>
    <button class="btn">
      <a routerLink="/cart"><i class="material-icons">shopping_cart</i></a>
    </button>
    <button class="btn">
      <div id="account-circle">
        <i routerLink="/user" class="material-icons">account_circle</i>
        <div class="dropdown-content">
          <a routerLink="/user">My Profile</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </button>
  </div>
</nav>