#navbarNav {
    height: 58px;
    padding: 1rem;
}

button>a>i, button>div>i {
    font-family: 'Material Icons';
    font-size: 1.8rem;
    color: #fd7e14;
}

button>a>i:hover, button>div>i:hover {
    color: #fd7d14b7;
}

.text-link {
    font-weight: bold;
    padding: 1rem;
    color: #fd7e14;
}

.text-link:hover {
    color: #fd7e14;
}

nav {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#navbar-left-container {
    padding-left: 0;
    padding-right: 0;
}

#title {
    padding: 0.5rem;
    color: #fd7d14;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

#title-user {
    margin-left: 0.5rem;
    background-color: #fd7d14;
    color: white;
    border-radius: 1.2rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

#title-logo {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.2rem;
    background-color: #fd7d14;
    margin-right: 0.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  #account-circle:hover .dropdown-content {display: block;}