.dialog-header {
    width: 100%;
    display: flex;
    flex-flow: row;
    background-color: #6c757d;
    color: white;
    padding: 0.8rem 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8%;
}

.dialog-header>#title {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: 100%;
}

span {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.dialog-row {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    flex-wrap: wrap;
}

.caution-btn {
    color: red;
    background-color: white;
    border: 1px solid red;
}

.control-buttons {
    justify-content: space-around;
}