<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <h2>{{this.city}}, {{this.state}}</h2>
  </div>
</nav>

<div class="col-12">
  <div id="map" class="col-6">SPACE RESERVED FOR THE MAP</div>
  <div id="truck-list" class="col-6">
    <ul class="list-group list-group-flush">
      <app-truck-list-card class="list-group-item" *ngFor="let foodtruck of foodtrucks" [foodtruck] = foodtruck></app-truck-list-card>
    </ul>
  </div>
</div>
