div {
    padding: 10px;
    color: black;
}

a:hover, div:hover {
    color: orangered;
    text-decoration: none;
    cursor: pointer;
}

.material-icons {
    color: orangered;
    display: flex;
    flex-direction: row-reverse;
    font-size: 28px;
}

.material-icons:hover {
    cursor: pointer;    
}