<div id="landing-container" class="flexcon">
    <div id="landing-top">
        <!-- <i id="subtitle">Telement presents:</i> -->
        <div id="title" [@slideInDownOnEnter]>FOOD TRAFFIC</div>
        <div id="subtitle">You've got the green light on food near you</div>
        <div id="button-group" class="flexcon-around">
            <button class="btn" (click)="customerLogin()">Customer Log In</button>
        </div>
        <div id="button-group" class="flexcon-around">
            <button class="btn" (click)="vendorLogin()">Vendor Log In</button>
        </div>
    </div>
</div>