#login-container {
    height: 80%;
    padding: 0;
}

#login-form {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

legend {
    text-align: center;
    padding-bottom: 1rem;
}

button {
    width: 100%;
    padding: 0.5rem;
}