.menu-item-container {
    padding: 1rem;
    height: inherit; 
    width: max-content;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-container:hover {
    cursor: pointer;
}

.menu-item-image {
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 12rem;
    width: 12rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
}

.menu-item-image:hover {
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 12rem;
    width: 12rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
}

.menu-item-price {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 0.2rem;
    font-weight: bold;
    border-top: 1px solid black;
    padding-bottom: 0.2rem;
}

.menu-item-name {
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-menu-item {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons {
    font-size: 2rem;
}

/* Dialog Styling */

.button-row {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.dialog-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.dialog-row {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
}

.dialog-header {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.dialog-header>div {
    color: #fd7e14;
}

.dialog-header>div:hover {
    cursor: pointer;
}

.menu-item-image-lg {
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 15rem;
    width: 15rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column-reverse;
}

.menu-item-image-lg:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.fill-row {
    width: 75%;
    border-radius: 0.2rem;
    border: 1px solid black;
    padding: 0.5rem;
    overflow: hidden;
}

.input-row {
    width: 25%;
    border-radius: 0.2rem;
    border: 1px solid black;
    padding: 0.5rem;
    overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.checkbox-input {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    font-size: 0.8rem;
}