<div id="home-component">
  <div id="home-container">

    <!-- left side -->
    <div id="left-side">
      <div id="map">
        <div class="favorite-button" (click)="toggleFavorites()" *ngIf="!showFavorites">
          <i class="material-icons">favorite_border</i>
        </div>
        <div class="favorite-button" (click)="toggleFavorites()" *ngIf="showFavorites">
          <i class="material-icons">favorite</i>
        </div>
        SPACE RESERVED FOR THE MAP
      </div>

      <div *ngIf="showVendor" [@slideInLeftOnEnter] [@slideOutLeftOnLeave] id="vendor-page">
        <div *ngIf="vendorToShow.profileImage" id="vendor-pic-container">
          <img src="{{vendorToShow.profileImage}}"/>
        </div>
        <div id="vendor-name">{{vendorToShow.displayName}}</div>
        <div>
          <ul id="vendor-tag-list">
            <app-vendor-tag class="list-group-item p-0 bg-inherit" *ngFor="let tag of vendorToShow.tags" [tag] = tag></app-vendor-tag>
            <div class="tag-separator"></div>
          </ul>
        </div>
        <div id="ops">
          <ul id="vendor-ops-list">
            <app-operations [ngClass]="{'today': item.dayOfWeek === 'TODAY'}" *ngFor="let item of operationItems" [op] = item [isList]="true" [mode]="'CUSTOMER'"></app-operations>
          </ul>
        </div>
        <div id="menus">
          <ul id="vendor-menu-list">
            <app-menu *ngFor="let menu of menus" [menu] = menu [mode]="'CUSTOMER'"></app-menu>
          </ul>
        </div>
      </div>
    </div>

    <!-- right side -->
    <div id="right-side">
      <div id="search-container">
        <input id="search" type="search" placeholder="Find a Food Truck" [ngModel]="searchKey"
          (ngModelChange)="searchVendors($event)" />
        <button class="btn">Search</button>
      </div>
      <ul id="vendor-list" class="list-group list-group-flush">
        <app-vendor-card class="list-group-item bg-white border-bottom box-shadow" *ngFor="let vendor of vendors"
          [vendor]=vendor (click)="toggleShowVendor(vendor)"></app-vendor-card>
      </ul>
    </div>
  </div>
</div>
