/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
html, body {
    height: 100%; 
}

body {
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.flexcon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexcon-start {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flexcon-around {
    display: flex;
    justify-content: space-around;
}

.flexcon-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexcon-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-container {
    padding-top: 60px;
    align-items: center;
}

.delete {
    cursor: pointer;
    color: red;
}

.bad {
    color: red;
}

.bad-bold {
    color: red;
    font-weight: bold;
}

button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}