/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
html, body {
    height: 100%; 
}

body {
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.flexcon {
    display: flex;
    justify-content: center;
}

.flexcon-around {
    display: flex;
    justify-content: space-around;
}

.component-container {
    padding-top: 60px;
    align-items: center;
}

